include ../breadcrumb/mixin

mixin about-page()
    section.workarea
        .container
            +breadcrumb
            section.about-page
                h1 О компании
                p
                    |ООО «Южный берег» является ведущим поставщиком противопожарного и аварийно-спасательного оборудования
                    |в Южном Федеральном Округе. Наша компания, основанная, в октябре 2004 г., через непродолжительное
                    |время заняла лидирующие позиции в данном сегменте рынка. Мы предлагаем максимально возможный набор
                    |средств для предупреждения, локализации и ликвидации любых возгораний:
                    a(href="#") огнетушители
                    |,
                    a(href="#") пожарные шкафы
                    |,
                    a(href="#") пожарные рукава
                    |,
                    a(href="#") гидранты
                    |,
                    a(href="#") противопожарные двери
                    | и многое другое. На всю продукцию имеются паспорта,
                    |сертификаты качества и соответствующие гарантии заводов - изготовителей.

                P
                    |Оборудование в большом ассортименте находится на складах нашей компании. Офисное здание удобно
                    |расположено на одной территории со складскими помещениями и зарядной станцией.

                p.heading-section ТАК ЖЕ ИМЕЕТСЯ СОБСТВЕННОЕ ПРОИЗВОДСТВО ПРОТИВОПОЖАРНОГО ОБОРУДОВАНИЯ.

                .row
                    .col-lg-3.col-sm-6.about-page-card
                        svg(width='46' height='50')
                            use(xlink:href='#about1')
                        p.heading Консультация специалистов
                        p Четырнадцатый год работы на рынке продаж и обслуживания, постоянный мониторинг рынка и анализ соответствия потребностей купленному оборудованию - все это позволяет максимально качественно подобрать необходимый для конкретного клиента товар.

                    .col-lg-3.col-sm-6.about-page-card
                        svg(width='50' height='50')
                            use(xlink:href='#about2')
                        p.heading Индивидуальный подход
                        p Вы получаете своего персонального менеджера, который будет консультировать Вас по всем вопросам. Мы являемся производителем противопожарного оборудования и гарантируем высокое качество нашей продукции.

                    .col-lg-3.col-sm-6.about-page-card
                        svg(width='50' height='50')
                            use(xlink:href='#about3')
                        p.heading Гибкая ценовая политика
                        p позволяет сохранить нашим клиентам дополнительные деньги. Наши менеджеры подберут для Вас оптимальный вариант по цене. Предоставление скидок. Вы можете узнать о скидках в разделе Хиты Продаж

                    .col-lg-3.col-sm-6.about-page-card
                        svg(width='42' height='50')
                            use(xlink:href='#about4')
                        p.heading Качественный товар
                        p Каждая партия товара тщательно проверяется на специализированных стендах, при малейшем подозрении на неисправность товар отбраковывается и обменивается на исправный у поставщиков оборудования. Обязательно проверяется и комплектация товаров.

                    .col-lg-3.col-sm-6.about-page-card
                        svg(width='50' height='50')
                            use(xlink:href='#about5')
                        p.heading Гарантия
                        p Четырнадцатый год работы на рынке продаж и обслуживания, постоянный мониторинг рынка и анализ соответствия потребностей купленному оборудованию - все это позволяет максимально качественно подобрать необходимый для конкретного клиента товар.

                    .col-lg-3.col-sm-6.about-page-card
                        svg(width='50' height='50')
                            use(xlink:href='#about6')
                        p.heading Быстрые поставки по России
                        p Благодаря наличию товара на складе оперативно решаются вопросы по доставке с транспортными компаниями согласно договоров. Качественные онлайн сервисы. На нашем сайте Вы можете: оформить заказ, ознакомиться с продукцией и ценами, заказать обратный звонок и т.д.

                    .col-lg-3.col-sm-6.about-page-card
                        svg(width='50' height='50')
                            use(xlink:href='#about7')
                        p.heading Знание своего дела
                        p В нашей компании за годы работы накоплен огромный опыт в данной отрасли. Мы готовы открыто делиться этими знаниями через свой сайт, который является одним из самых посещаемых информационных сайтов в Краснодарском крае и по России в целом.

                    .col-lg-3.col-sm-6.about-page-card
                        svg(width='45' height='50')
                            use(xlink:href='#about8')
                        p.heading Стремление вперед
                        p Мы постоянно совершенствуем свои рабочие процессы, участвуем в семинарах, развиваем свои знания в данной сфере, чтобы максимально удовлетворить потребности наших клиентов в качественном товаре и вежливом профессиональном обслуживании.

                p ООО «Южный берег» предоставляет высококвалифицированные услуги по заправке, перезарядке и испытанию углекислотных, порошковых и воздушно-пенных огнетушителей на очень выгодных условиях в минимальные сроки. Благодаря применению современного технологического оборудования и высокому профессионализму сотрудников, наша компания оказывает качественные услуги по техническому обслуживанию огнетушителей.
                p Благодаря имеющемуся в собственности транспорту, наша фирма осуществляет доставку по городу Краснодару и Краснодарскому краю в сжатые сроки и по минимальной цене. Доставка по России осуществляется силами сторонних транспортных компаний.
                p ООО "Южный берег" является региональным представителем крупнейших Российских производителей противопожарного оборудования: РИФ, Илион, реализует продукцию ОАО «Арзамасский завод «ЛЕГМАШ», ОАО «Черкесский завод резиновых технических изделий», ООО « Апогей», ООО «Эпотос» и др.
                p
                    |Это сотрудничество позволяет реализовывать высококачественную продукцию по низким ценам. (С полным перечнем предлагаемого нами оборудования Вы можете ознакомиться в каталоге товаров и/или в
                    a(href="#") прайс-листе
                    |).
                p Репутация стабильного и надежного партнера, индивидуальный подход к каждому клиенту, собственное производство и партнерские отношения с крупнейшими поставщиками пожарного оборудования позволяют предлагать нашим клиентам высочайший уровень сервиса и удовлетворять самые взыскательные требования!
                p Покупая в нашей компании противопожарное оборудование, Вы можете рассчитывать на консультацию опытных специалистов, которые помогут сделать грамотный выбор и с удовольствием ответят на все интересующие Вас вопросы, оперативно выставят счета, оформят платежные документы и произведут отгрузку товара.
                p Оборудование в большом ассортименте находится на складах нашей компании. Офисное здание удобно расположено на одной территории со складскими помещениями и зарядной станцией.