mixin catalog-section
    .col-lg-3.col-md-4.col-sm-6
        .catalog-section(style='background: url(images/extinguisher.png);background-position: center;background-size: cover;background-repeat: no-repeat;')
            h2.catalog-section-name Порошковые
            a(class='btn-red d-flex justify-content-center align-items-center' href='')
                |
                span Перейти в каталог
