

mixin breadcrumb()
    .workarea-breadcrumb(aria-label='breadcrumb')
        ol.workarea-breadcrumb-list
            li.workarea-breadcrumb-item
                a.workarea-breadcrumb-link(href='/') Главная
            li.workarea-breadcrumb-item
                a.workarea-breadcrumb-link(href='/') Страница
            li.workarea-breadcrumb-item
                a.workarea-breadcrumb-link(href='/') Внутренняя страница
