include ../breadcrumb/mixin
include ../catalog-section/mixin
mixin catalog
   section.catalog
        .container
            +breadcrumb
            h1 Огнетушители
            .row
                +catalog-section
                +catalog-section
                +catalog-section
                +catalog-section
                +catalog-section
                +catalog-section

                .col-12.catalog-text
                    p На сегодняшний день, огнетушитель является наиболее востребованным и популярным средством пожаротушения.
                        | Этот факт объясняется не только правилами пожарной безопасности, которые предписывают
                        | обязательное их наличие во всех производственных помещениях и автомобилях, но и эффективностью
                        |данного средства при борьбе с огнём.
                        br
                        |Основным критерием при выборе огнетушителя является предполагаемый тип пожара.
                        |Например, для тушения "сухих" материалов (пластик, дерево, бумага) и горючих жидкостей, отлично подойдут воздушно-пенные
                        |огнетушители. Однако, с их помощью нельзя осуществлять тушение рядом с электропроводкой.

                    p В большей степени универсальными
                        |являются углекислотные аналоги, способные ликвидировать пожары категорий B, C и E, то есть возгорания жидкостей,
                        |газообразных веществ и электроустановок соответственно.
                        br
                        |Имеются и другие виды огнетушителей, которые в зависимости
                        |от специфики помещений и местности могут обеспечить наиболее эффективную защиту при возгорании определённых материалов.
                        |Среди них порошковые, самосрабатывающие и ранцевые.

                    p Вы можете легко подобрать и купить огнетушитель в Краснодаре,
                        |воспользовавшись удобной системой навигации на нашем сайте. Кроме того, наши специалисты всегда рады помочь
                        |выбрать оборудование, отвечающее именно вашим индивидуальным требованиям.