// Fonts
//@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

//@font-face {
//  font-family: 'Proxima Nova Cn Rg';
//  url('../fonts/ProximaNovaCond-Regular.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}

//$Rubik: 'Rubik', sans-serif!default;
//$Proxima : 'Proxima Nova Cn Rg';

// Colors
$black: #313131 !default;
$gray: #BDBDBD !default;
$gray2: #EAEAEA !default;
$red_color: #E03232 !default;
$red-hover: #C10A17 !default;
$yes: #20a94a !default;
$no: #d0021b !default;
$average: #f5a623 !default;


// Other
$transition: 0.3s !default;
$ff: ibm plex sans, sans-serif !default;
$imgFolder: "../img" !default;