include ../breadcrumb/mixin

mixin news-detail()
    section.workarea
        .container
            +breadcrumb
            section.news-detail
                .col-md-6.p-0
                    h1 Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                .data 29.01.2020
                .col-12.p-0
                    img(src='images/fire2.png')
                    p
                        |Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                        |безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для
                        |распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и
                        |перешагнул в электронный дизайн.

                    p
                        |Его популяризации в новое время послужили публикация листов Letraset
                        |с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus
                        |PageMaker, в шаблонах которых используется Lorem Ipsum.Lorem Ipsum является стандартной "рыбой" для текстов
                        |на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм.

                    p
                        |Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                        | безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для
                        | распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и
                        | перешагнул в электронный дизайн.

                    p
                        |Его популяризации в новое время послужили публикация листов Letraset
                        | с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus
                        | PageMaker, в шаблонах которых используется Lorem Ipsum.Lorem Ipsum является стандартной "рыбой" для текстов
                        | на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм.

                    a(class="btn-gray" href="#") Все новости
                        svg(width='9' height='12')
                            use(xlink:href='#arrow-right-black')

