mixin news-element()
    .col-lg-3.col-sm-6.news-element
        .data 29.01.2020
        .heading Название новости в одну две строчки
        p.description Четырнадцатый год работы на рынке продаж и обслуживания, постоянный мониторинг рынка и анализ соответствия потребностей купленному оборудованию
        a(class="link-detail" href="#") Подробнее
            svg(width='9' height='12')
                use(xlink:href='#arrow-right')

