mixin banners
   section.banners
        .container
            .col-lg-9.offset-lg-3.px-0
                .row
                    .col-md-12
                        .swiper-container.swiper-banners
                            .swiper-wrapper
                                .swiper-slide.banner(style='background: url(css/images/slider1.png);background-position: center;background-size: cover;')
                                    h3 Шкафы пожарные:
                                    p.description 310 НЗК/НЗБ 310 НОК/НОБ 310 ВЗК/ВЗБ 310 ВОК/ВОБ 315 НЗК/НЗБ 320 НЗК/НЗБ
                                    p.price от 870 руб
                                    a(class='btn-red d-flex justify-content-center align-items-center' href='')
                                        |
                                        span Перейти в каталог
                                .swiper-slide.banner(style='background: url(css/images/slider1.png);background-position: center;background-size: cover;')
                                    h3 Шкафы пожарные:
                                    p.description 310 НЗК/НЗБ 310 НОК/НОБ 310 ВЗК/ВЗБ 310 ВОК/ВОБ 315 НЗК/НЗБ 320 НЗК/НЗБ
                                    p.price от 870 руб
                                    a(class='btn-red d-flex justify-content-center align-items-center' href='')
                                        |
                                        span Перейти в каталог
                                .swiper-slide.banner(style='background: url(css/images/slider1.png);background-position: center;background-size: cover;')
                                    h3 Шкафы пожарные:
                                    p.description 310 НЗК/НЗБ 310 НОК/НОБ 310 ВЗК/ВЗБ 310 ВОК/ВОБ 315 НЗК/НЗБ 320 НЗК/НЗБ
                                    p.price от 870 руб
                                    a(class='btn-red d-flex justify-content-center align-items-center' href='')
                                        |
                                        span Перейти в каталог
                            .swiper-button-next
                                svg(width='7' height='12')
                                    use(xlink:href='#arrow-right-white')
                            .swiper-button-prev
                                svg(width='7' height='12')
                                    use(xlink:href='#arrow-right-white')
                            .swiper-pagination
                    .col-md-5
                        .banner(style='background: url(css/images/banner2.png);background-position: center;background-size: cover;')
                            h3.banner-name Огнетушители
                            a(class='btn-red d-flex justify-content-center align-items-center' href='')
                                |
                                span Перейти в каталог
                    .col-md-7
                        .banner(style='background: url(css/images/banner3.png);background-position: right;background-size: contain;background-repeat: no-repeat;background-color: #313131;')
                            h3.banner-name Одежда пожарных
                            a(class='btn-red d-flex justify-content-center align-items-center' href='')
                                |
                                span Перейти в каталог
