include ../breadcrumb/mixin
include ../news-element/mixin
include ../news-element-img/mixin
include ../pagination/mixin

mixin news()
    section.workarea
        .container
            +breadcrumb
            h1 Новости
            section.news
                .row
                    +news-element
                    +news-element-img
                    +news-element
                    +news-element
                    +news-element
                    +news-element
                    +news-element-img
                    +news-element
                    +news-element
                    +news-element-img
                    +news-element
                    +news-element

                    .col-12.d-flex.justify-content-end
                        +pagination


