mixin about()
    section.about
        .container
            .row
                .col-md-8
                    h2 О компании
                    p ООО «Южный берег» является ведущим поставщиком противопожарного и аварийно-спасательного оборудования в Южном Федеральном Округе. Наша компания, основанная, в октябре 2004 г., через непродолжительное время заняла лидирующие позиции в данном сегменте рынка. Мы предлагаем максимально возможный набор средств для предупреждения, локализации и ликвидации любых возгораний: огнетушители, пожарные шкафы, пожарные рукава, гидранты, противопожарные двери и многое другое. На всю продукцию имеются паспорта, сертификаты качества и соответствующие гарантии заводов - изготовителей.
                    p Оборудование в большом ассортименте находится на складах нашей компании. Офисное здание удобно расположено на одной территории со складскими помещениями и зарядной станцией.
                    p.bold ТАК ЖЕ ИМЕЕТСЯ СОБСТВЕННОЕ ПРОИЗВОДСТВО ПРОТИВОПОЖАРНОГО ОБОРУДОВАНИЯ.
                    a(class="btn-red" href="#") Подробнее
                        svg(width='9' height='12')
                            use(xlink:href='#arrow-right-white')
                .col-md-4.about-slider
                    .swiper-container.swiper-about
                        .swiper-wrapper
                            .swiper-slide
                                .swiper-body
                                    svg(width='47' height='50')
                                        use(xlink:href='#about')
                                    h3 Консультация специалистов
                                    p Четырнадцатый год работы на рынке продаж и обслуживания, постоянный мониторинг рынка и анализ соответствия потребностей купленному оборудованию - все это позволяет максимально качественно подобрать необходимый для конкретного клиента товар.
                            .swiper-slide
                                .swiper-body
                                    svg(width='47' height='50')
                                        use(xlink:href='#about')
                                    h3 Консультация специалистов
                                    p Четырнадцатый год работы на рынке продаж и обслуживания, постоянный мониторинг рынка и анализ соответствия потребностей купленному оборудованию - все это позволяет максимально качественно подобрать необходимый для конкретного клиента товар.
                            .swiper-slide
                                .swiper-body
                                    svg(width='47' height='50')
                                        use(xlink:href='#about')
                                    h3 Консультация специалистов
                                    p Четырнадцатый год работы на рынке продаж и обслуживания, постоянный мониторинг рынка и анализ соответствия потребностей купленному оборудованию - все это позволяет максимально качественно подобрать необходимый для конкретного клиента товар.
                        .swiper-button-next
                            svg(width='7' height='12')
                                use(xlink:href='#arrow-right-white')
                        .swiper-button-prev
                            svg(width='7' height='12')
                                use(xlink:href='#arrow-right-white')


