mixin banner-about()
    section.banner-about
        .container
            .col-12
                .row
                    .col-lg-5
                        span 16 лет на рынке
                        |
                        | противопожарного оборудования
                    .col-lg-3.col-6
                        p
                            | Большой
                            br
                            | ассортимент
                        p
                            | Быстрая
                            br
                            | доставка заказов
                    .col-lg-4.col-6
                        p
                            | Собственное
                            br
                            | производство
                        p
                            | Представляем крупнейших
                            br
                            | Российских производителей



