extends ../template/layout

block variables
    -
        var title = 'Все страницы'

block content
    -
        var pages = [
        {
        title: 'Гавная',
        link: 'home.html'
        },
        {
        title: 'Каталог',
        link: 'catalog.html'
        },
        {
        title: 'Каталог элементы',
        link: 'catalog-elements.html'
        },
        {
        title: 'Каталог детально',
        link: 'catalog-detail.html'
        },
        {
        title: 'Новости',
        link: 'news.html'
        },
        {
        title: 'Новости детально',
        link: 'news-detail.html'
        },
        {
        title: 'Контакты',
        link: 'contacts.html'
        },
        {
        title: 'О компании',
        link: 'about-page.html'
        },
        {
        title: 'Личный кабинет',
        link: 'lk.html'
        },
        {
        title: 'Личный кабинет 2',
        link: 'lk2.html'
        }

        ];

    .workarea
        .workarea-text(style="height: 680px;margin-top: 50px;")
            .container
                .col-md-9.offset-3
                    ul
                        each page in pages
                            li
                                a(href= page.link)= page.title

                p просто тег р
                a(href="#") просто ссылка

