extends ../template/layout
include ../blocks/lk2/mixin

block variables
    -
        var title = 'Личный кабинет 2'

block styles
    link(rel='stylesheet' href='css/pages/lk.css')

block content
    +lk2
